<p id="notice"><%= notice %></p>

<h1>Listing Flights</h1>

<table>
  <thead>
    <tr>
      <th>To</th>
      <th>From</th>
      <th>Plane</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
    <% @flights.each do |flight|  %>
    <tr>
    	<td>
    		<%= flight.to %>
    	</td>
    	<td>
    		<%= flight.from %>
    	</td>
    	<td>
    		<%= flight.plane_id %>
    	</td>
    	<td>
    		<%= flight.date %>
    	</td>
    </tr>
    <% end %>
  </thead>




</table>

<br>


